<div class="container">

    <nav>
      <h2><img src="images/bookicon.png" width="50" height="40">Kirjatori</h2>
       <input id="toggle" type="checkbox" checked>
    <ul>
      <li><a href="myydaan">Myydään</a></li>
      <li><a href="ostetaan">Ostetaan</a></li>
      <li><a href="saannot">Säännöt</a></li>
      <li><a href="kirjaudu">Kirjaudu</a></li>
      
    </ul>
 </nav>

  </div>