<h1>Welcome to <%= name %></h1>

<div class="main-content">
    <div id="intro-img"></div>

    <section class="info">
    <h1>Mikä on kirjatori?</h1>
    <p>Kirjatorilla voit myydä vanhat  koulukirjasi. <br>
    Meillä on suomen kattavin käytettyjen oppikirjojen valikoima. <br>
    Alla näet kattavan valikoiman yksityishenkilöiden ilmoituksia. <br>
     Uusimmat ilmoitukset näkyvät päälimmäisenä.</p>
    </section>

    <!-- Lista kirjoista-->
    <section class="section">
      <h2 class="section-header">Uusimmat kirjat</h2>

      <div class="responsive-table">

        <table>
          <!-- jaottelu/palkki-->
          <tr class="tr-header">
            <th>&nbsp;</th>
            <th>Hinta</th>
            <th>Lisätty:</th>
            <th>Paikkakunta</th>
          </tr>
          <!-- sisältö/ myyntiilmoitukset-->
          <tr>
            <td class="text-left">Opi oppimaan</td>
            <td>10€</td>
            <td>01.12.2020</td>
            <td>Turku</td>
          </tr>
          <tr>
            <td class="text-left">Pänttärin pelastus</td>
            <td>25€</td>
            <td>17.11.2020</td>
            <td>Salo</td>
          </tr>
         
        </table>
      </div>
    </section>
  </div>

  
  <footer>
    
    <p>All rights reserved by KirjatoriCompany Oy Ltd Inc. Corp.  2020</p>
    
  </footer>
</div>
</body>
</html>
