<body>
      
      <div class="main-content">

        <section class="info">
        <h1>Kirjaudu tai luo tili</h1>
      </div>
      <footer>
        
        <p>All rights reserved by KirjatoriCompany Oy Ltd Inc. Corp.  2020</p>
        
      </footer>
    </div>
  </body>
</html>