
<body>
      
      <div class="main-content">
        
        
        <!-- Lista kirjoista-->
        <section class="section">
          <h2 class="section-header">Myydään</h2>

          <div class="responsive-table">

            <table>
              <!-- jaottelu/palkki-->
              <tr class="tr-header">
                <th>&nbsp;</th>
                <th>Hinta</th>
                <th>Lisätty:</th>
                <th>Paikkakunta</th>
              </tr>
              <!-- sisältö/ myyntiilmoitukset-->
              <tr>
                <td class="text-left">Opi oppimaan</td>
                <td>10€</td>
                <td>01.12.2020</td>
                <td>Turku</td>
              </tr>
              <tr>
                <td class="text-left">Pänttärin pelastus</td>
                <td>25€</td>
                <td>17.11.2020</td>
                <td>Salo</td>
              </tr>
             
            </table>
          </div>
        </section>
      </div>

      
      <footer>
        
        <p>All rights reserved by KirjatoriCompany Oy Ltd Inc. Corp.  2020</p>
        
      </footer>
    </div>
    
  </body>