<body>

<div class="main-content">

  <section class="info">
  <h1>Kirjatorin Säännöt</h1>
  <p>1. Kirjatorissa myydään, ostetaan ja vaihdetaan vain oppikirjoja. <br> <br>
      2. Myyjän tulee merkitä myytyjen tuotteiden myynti-ilmoitus myydyksi pikimmiten. <br><br>
      3. Ilmoitusten tulee sisältää oikea kuvaus tavarasta. Lisäksi myynti-ilmoituksissa tulee olla vähintään yksi lappukuva. 
      Lappukuvan lapun tulee sisältää sama päivämäärä, kuin milloin ilmoitus on luotu, myyjän nimikirjaimet sekä itse lappukuvassa tulee lapun kanssa olla kaikki ilmoituksessa myytävät tuotteet. <br><br>
      4. Huutokauppaaminen on kielletty. Ilmoitusten tulee sisältää hinta, jolla myyjä luopuu tavarasta. <br><br>
      5. Ohimyynti, eli ostajien huudattaminen yksityisviestein, on kielletty. Kiinnijäänti johtaa sivuston käyttöoikeuden menettämiseen. <br><br>
      6. Kerjuukirjeet / T&J spämmi / korjauspyynnöt / ongelmajutut / memet poistetaan suoraan. Spämmiksi luetaan myös ilmoituksen nostaminen/uusiminen useammin kuin kerran viikossa. <br><br>
      7. Kaupankäynti sivustolla on tarkoitettu ainoastaan yksityishenkilöille. <br><br>
      8. Ilmoittajan hallussa olevien tuotteiden kuvien on oltava itse otettuja. <br><br>
      9. Kaupankäynti on ostajan ja myyjän vastuulla. Ylläpito ei vastaa kauppojen sujuvuudesta. <br><br>
      10. Ylläpito pidättää oikeuden soveltaa sääntöjä parhaaksi katsomallaan tavalla. </p>
  </section>

</div>




<footer>
  
  <p>All rights reserved by KirjatoriCompany Oy Ltd Inc. Corp.  2020</p>
  
</footer>
</div>
</body>